doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title 1 Col Portfolio - Start Bootstrap Template
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='#') Home
            li(role='presentation')
              a(href='#') Track
            li(role='presentation')
              a(href='#') Campaign
            li(role='presentation')
              a(href='#') Profile
      // Page Content
      .container
        // Page Heading
        .row
          .col-lg-12(style='background-image: url(assets/pic01.jpg)')
            h1.page-header.header
              | Immly
              small
                p Immigrants build nations
        // /.row
        // Project One
        .row
          .col-md-2
            a(href='#')
              img.img-responsive.vcenter(src='/assets/uscislogo.png', alt='')
          .col-md-5
            h3 USCIS
            h4 USCIS Discontinues Legacy e-Filing System
            p
              | USCIS will discontinue its legacy e-Filing system in order to maintain data security standards and focus resources on the replacement Electronic Immigration System.
            a.btn.btn-primary(href='#')
              | View Full Article 
              span.glyphicon.glyphicon-chevron-right
        hr
        // Pagination
        .row.text-center
          .col-lg-12
            ul.pagination
              li
                a(href='#') «
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') »
        // /.row
        // Footer
        footer
          .row
            .col-lg-12
              p Copyright © Your Website 2014
          // /.row
      // /.container
